<div class="ui vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui section divider"></div>
        <div class="ui horizontal small divided link list">
            <a class="item" href="/sitemap/sitemap.xml">Sitemap</a>
            <a class="item" href="/https://www.facebook.com/Food-Nutrition-Info-2330291683696799">Contact Us</a>
            <a class="item" href="/privacy-policy.html">Privacy Policy</a>
        </div>
    </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
        crossorigin="anonymous"></script>
<script>
    (function () {
        var cx = 'partner-pub-8750724939348971:2330721819';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();
</script>
<div style="display: none;">
    <gcse:searchbox-only></gcse:searchbox-only>
</div>
<script>
    function submitToGoogleSearch(){
        var searchValue = document.getElementById('search-text').value;
        document.getElementById('gsc-i-id1').value = searchValue;
        document.getElementsByClassName('gsc-search-button-v2')[0].click();
    }
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-138102767-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-138102767-1');
</script>
</body>
</html>