{{> header}}
<div class="ui piled segment">
    <h1 class="ui header">Food nutrients and ingredients</h1>
    <p>Nutrients are the substances in food that our bodies process to enable it to function. Your nutrient
        requirements are influenced by factors including your age, growth stage and activity. Nutrients are so small
        that the naked eye can’t see them.</p>
</div>
{{>ads/mobile_ad}}
<div class="ui divided items">
    <div class="item">
        <div class="ui small image">
            <img src="/images/index/protein.jpg">
        </div>
        <div class="content">
            <div class="header">Proteins</div>
            <div class="description">
                <p>Proteins are large, complex molecules that play many critical roles in the body. They do most of
                    the work in cells and are required for the structure, function, and regulation of the body’s
                    tissues and organs.</p>
                <p>Proteins are made up of hundreds or thousands of smaller units called amino acids, which are
                    attached to one another in long chains. There are 20 different types of amino acids that can be
                    combined to make a protein. The sequence of amino acids determines each protein’s unique
                    3-dimensional structure and its specific function.</p>
            </div>
        </div>
    </div>

    <div class="item">
        {{>ads/mobile_ad}}
    </div>

    <div class="item">
        <div class="ui small image">
            <img src="/images/index/vitamins.jpg">
        </div>
        <div class="content">
            <div class="header">Vitamins</div>
            <div class="description">
                <p>A vitamin is one of a group of organic substances that is present in minute amounts in natural
                    foodstuffs. Vitamins are essential to normal metabolism. If we do not take enough of any kind of
                    vitamin, certain medical conditions can result.
                </p>
                <p>A vitamin is both:</p>
                <p>an organic compound, which means it contains carbon</p>
                <p>an essential nutrient that body cannot produce enough of and which it needs to get from food</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small image">
            <img src="/images/index/fats-and-fatty-acids.jpg">
        </div>
        <div class="content">
            <div class="header">Fats & Fatty Acids</div>
            <div class="description">
                <p>Fats occur naturally in food and play a significant role in human nutrition. Fats are used to store
                    energy in the body, insulate body tissues, cushion internal organs, and transport fat-soluble
                    vitamins in the blood. Fats also play in an important role in food preparation: They enhance food
                    flavor and food texture, make baked products tender, and conduct heat during cooking.</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small image">
            <img src="/images/index/minerals.jpg">
        </div>
        <div class="content">
            <div class="header">Minerals</div>
            <div class="description">
                <p>Minerals are inorganic substances required by the body in small amounts for a variety of different
                    functions. Minerals are involved in the formation of bones and teeth; they are essential
                    constituents of body fluids and tissues; they are components of enzyme systems and they are involved
                    in normal nerve function. The body requires different amounts of each mineral; people have different
                    requirements, according to their age, sex, physiological state (e.g. pregnancy) and sometimes their
                    state of health. The Department of Health has published Dietary Reference Values (DRVs) for minerals
                    for different groups of healthy people.</p>
            </div>
        </div>
    </div>
    {{>ads/mobile_ad}}
    <div class="item">
        <div class="ui small image">
            <img src="/images/index/sterol.jpg">
        </div>
        <div class="content">
            <div class="header">Sterols</div>
            <div class="description">
                <p>Sterols, also known as steroid alcohols, are a subgroup of the steroids and an important class of
                    organic molecules. They occur naturally in plants, animals, and fungi, and can be also produced by
                    some bacteria (however likely with different functions).[1] The most familiar type of animal sterol
                    is cholesterol, which is vital to cell membrane structure, and functions as a precursor to
                    fat-soluble vitamins and steroid hormones.</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small image">
            <img src="/images/index/calories.jpg">
        </div>
        <div class="content">
            <div class="header">Calories</div>
            <div class="description">
                <p>The food we eat becomes the fuel that runs our bodies. Healthy food provides calories (energy) and
                    important nutrients to build strong bones and muscles. Drinks also contain calories. But not all
                    calories are healthy. Sodas, for example, are often referred to as "empty calories." That means that
                    they provide calories but have no other nutritional value.</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="ui small image">
            <img src="/images/index/dietary-fibre.jpg">
        </div>
        <div class="content">
            <div class="header">Dietary fibre</div>
            <div class="description">
                <p>Dietary fibre used to be known as ‘roughage’, and refers to a group of substances in plant foods
                    which cannot be completely broken down by human digestive enzymes. This includes waxes, lignin and
                    polysaccharides such as cellulose and pectin. Originally it was thought that dietary fibre was
                    completely indigestible and did not provide any energy. It is now known that some fibre can be
                    fermented in the large intestine by gut bacteria, producing short chain fatty acids and gases
                    (methane, hydrogen and carbon dioxide). The fatty acids are absorbed into the blood stream and
                    provide a small amount of energy. The amount of gas produced depends on the type of fibre eaten and
                    the gut bacteria present. After a large increase in the amount of fibre in the diet, some people
                    experience symptoms such as abdominal distension, discomfort and wind. However, the large intestine
                    and gut bacteria gradually adapt to the increased intake and symptoms usually decrease.</p>
            </div>
        </div>
    </div>
</div>
{{> footer}}